*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Baloo 2', cursive;
}

.intro{
    background-color: rgb(221, 221, 221);
}

.intro_h1{
    font-size: 25vh;
    color: (255, 94, 20);
}

.intro_h2{
    font-size: 15vh;
    color: rgb(255, 94, 20);
}

.services{
    background-color: white;
    padding-top: 5vh;
    margin-top: 5vh;
}

.romCon{
    display: flex;
    justify-content: space-between;
}

.romCon h1{
    font-size: 20vh;
    text-align: center;
}

.romCon_img{
    width: 75vh;
}

.navigate{
    background-color: rgb(255, 94, 20);
    color: white;
}

.navigate h1{
    font-size: 20vh;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons button{
    font-size: 5vh;
    padding: 2px 10px;
    border-radius: 15px;
    background-color: black;
    box-shadow: inset 0px 0px 7px 2px darkgrey;
    color: rgb(255, 94, 20);
    margin: 3vh;
}

.more{
    font-family: 'Baloo 2', cursive;
}

.more h1{
    font-size: 20vh;
    text-align: center;
}

.more section{
    font-size: 6vh;
    text-align: center;
}

.more_span{
    font-size: 6vh;
    text-align: center;
    color: rgb(255, 94, 20);
}

.more_span ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.more_span li{
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(255, 94, 20);
}

.Contact{
    background-color: rgb(255, 94, 20);
    color: white;
    display: flex;
}

.left{
    width: 30%;
}

.right{
    width: 70%;
    text-align: center;
}

.Contact ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 5vh;
    font-family: 'Baloo 2', cursive;
}

.Contact li{
    margin: 2vh;
}

.Contact a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.Contact a:hover{
    text-decoration: none;
    color: rgb(196, 196, 196);
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
}

.Contact h1{
    font-size: 15vh;
}

.Contact h2{
    font-size: 10vh;
}